.book_model_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border:none;
    box-shadow: 0 0 0 1.5px rgb(218, 224, 223);
    background-color:rgb(253, 254, 255);
}
.book_model_header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100%;
    padding:20px;
    position: relative;
}
.book_model_header .book_model_title{
    text-align: center;
}
.book_model_header .book_model_button{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    right: 50px;
}
.book_model_body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px;
}
.book_model_body #venue_booking_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    padding:20px;
}
.book_model_body #venue_booking_form .booking_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.book_model_body #venue_booking_form .booking_form input{
    border-radius:5px;
    border: 1px solid black;
    height:30px;
    width: 300px;
    padding:5px;
}
.book_model_footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.book_model_footer .book_model_footer_sub{
    border:none;
    border-radius: 20px;
    padding:6px 30px 6px 30px;
    background-color: #23013f;
    color: rgb(234, 255, 226);
    font-size: 20px;
    margin-top: 10px;
}
.book_model_footer abbr{
    color: #E63946;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}
.invalid_req_book{
    margin: 5px;
    display: flex;
    flex-direction:row;
    justify-content: center;
    z-index: 999;
}
.invalid_req_book .invalid_status_req_book{
 font-size: 20px;
 color:#f1eff3;
 background-color:  #E63946;
 padding:5px;
 border-radius: 15px;
}
.valid_req_book{
    margin: 5px;
    display: flex;
    flex-direction:row;
    justify-content: center;
    z-index: 999;
}
.valid_req_book .valid_status_req_book{
    font-size: 20px;
    color:#150029;
    background-color: #ffd43b;
    padding:5px;
    border-radius: 15px;
   }
.book_button .book_button_sub{
    border-radius: 20px;
    padding: 7px 15px;
    border:none;
    background-color: rgb(38, 78, 87);
    color:white;
    font-size: 18px;
    font-family:'Poppins','Helvetica',sans-serif;
    font-weight:500;
}