
.landing_page{
    margin-top: 0px;
}
.upper{
    background-color: rgb(197, 188, 155);
    padding-top:35px;
    
}
.image_sec .img-fluid{
    width:95%;
    height: 85%;
}
.slider_bar{
    margin:0 22px;
}
.text_sec .text{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-weight:300;
    margin-top:0px;
    width:fit-content;
    font-size: 20px;
}
.text_sec .title{
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    font-weight: 300;
    width:fit-content;
}
.text_sec{
    padding-top: 30px;
    margin-left:65px;
}
.text_sec .hero_button{
    cursor: pointer;
    font-size: 19px;
    letter-spacing: 1px;
    padding: 6.5px 10px;
    font-family:'Poppins','Helvetica',sans-serif;
    font-weight:700;
    margin:7px 0;
    border:none;
    border-radius:25px;
    background-color: #1D3557;
    color: #F1FAEE;
    transform: translate(50,-50);
}
.text_sec .hero_button:hover{
    background: #E63946;
    color:white;
}
.icon_grid{
    background-color: white;
    border-bottom:1px solid rgb(207, 207, 214);
    margin-top: 20px;
    /* box-shadow: 0px 1px 1px 0px rgb(196, 204, 196); */
}
.make_grid{
    display: flex;
    flex-direction: row;
    margin:3.5vw 1.8vw;
    gap:2vw;
}
.card_head{
    font-size: 2.3vw;
    font-weight: 490;
}
.box_card{  
    box-shadow: 0 0 0 1.5px rgb(208, 218, 216);
    transition: 0.25s ease-in;
}
.box_card:hover{
    background-color: rgb(60, 165, 168);
    color: rgb(3, 27, 27);
    cursor: pointer;
}
.icon_heading_new{
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    text-align: center;
}
.gicon{
    margin-right:0.7vw;
    color:#23013f;
}
.card_body_head{
    display: flex;
    justify-content: center;
    font-weight: 500;
}
.card_body_sub{
    display:flex;
    flex-direction: column;
}
.card_body_sub p{
    font-size: 19.5px;
    font-weight: 470;
    letter-spacing: 0.7px;
    font-family: 'Comfortaa','Helvetica','Raleway',sans-serif;
}
.accordion_def pre{
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    border-bottom:1px solid rgb(207, 207, 214);
    text-align: center;
}
.accordion_sub_one,.accordion_sub_two,.accordion_sub_three{
    background-color:rgb(251, 251, 251);
}
.accordion_sub_one abbr{
    padding: 10px 10px;
    font-size: 25px;
    font-family: 'Quicksand',Helvetica,sans-serif;
}
#accordionExample{
    margin-top:40px;
    margin-bottom:50px;
}
.accordion_sub_two abbr{
    padding: 10px 10px;
    font-size: 25px;
    font-family: 'Quicksand',Helvetica,sans-serif;
}
.accordion_sub_three abbr{
    padding: 10px 10px;
    font-size: 25px;
    font-family: 'Quicksand',Helvetica,sans-serif;
}
.accordion_sub_one strong,.accordion_sub_two strong,.accordion_sub_three strong{
    font-size: 17px;
}
