
.landing_page{
    margin-top: 0px;
}
.upper{
    background-color: rgb(197, 188, 155);
    padding-top:35px;
    
}
.image_sec .img-fluid{
    width:95%;
    height: 85%;
}
.slider_bar{
    margin:0 22px;
}
.text_sec .text{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-weight:300;
    margin-top:0px;
    width:fit-content;
    font-size: 20px;
}
.text_sec .title{
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    font-weight: 300;
    width:fit-content;
}
.text_sec{
    padding-top: 30px;
    margin-left:65px;
}
.text_sec .hero_button{
    cursor: pointer;
    font-size: 19px;
    letter-spacing: 1px;
    padding: 6.5px 10px;
    font-family:'Poppins','Helvetica',sans-serif;
    font-weight:700;
    margin:7px 0;
    border:none;
    border-radius:25px;
    background-color: #1D3557;
    color: #F1FAEE;
    transform: translate(50,-50);
}
.text_sec .hero_button:hover{
    background: #E63946;
    color:white;
}
.icon_grid{
    background-color: white;
    border-bottom:1px solid rgb(207, 207, 214);
    margin-top: 20px;
    /* box-shadow: 0px 1px 1px 0px rgb(196, 204, 196); */
}
.make_grid{
    display: flex;
    flex-direction: row;
    margin:3.5vw 1.8vw;
    gap:2vw;
}
.card_head{
    font-size: 2.3vw;
    font-weight: 490;
}
.box_card{  
    box-shadow: 0 0 0 1.5px rgb(208, 218, 216);
    transition: 0.25s ease-in;
}
.box_card:hover{
    background-color:#ffd43b;
    color: rgb(3, 27, 27);
    cursor: pointer;
}
.icon_heading_new{
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    text-align: center;
}
.gicon{
    margin-right:0.7vw;
    color:#23013f;
}
.card_body_head{
    display: flex;
    justify-content: center;
    font-weight: 500;
}
.card_body_sub{
    display:flex;
    flex-direction: column;
}
.card_body_sub p{
    font-size: 19.5px;
    font-weight: 470;
    letter-spacing: 0.7px;
    font-family: 'Comfortaa','Helvetica','Raleway',sans-serif;
}
.accordion_def pre{
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    border-bottom:1px solid rgb(207, 207, 214);
    text-align: center;
}
.accordion_sub_one,.accordion_sub_two,.accordion_sub_three{
    background-color:#c3fae8;
}
.accordion_sub_one abbr{
    padding: 10px 10px;
    font-size: 25px;
    font-family: 'Quicksand',Helvetica,sans-serif;
}
#accordionExample{
    margin-top:40px;
    margin-bottom:50px;
}
.accordion_sub_two abbr{
    padding: 10px 10px;
    font-size: 25px;
    font-family: 'Quicksand',Helvetica,sans-serif;
}
.accordion_sub_three abbr{
    padding: 10px 10px;
    font-size: 25px;
    font-family: 'Quicksand',Helvetica,sans-serif;
}
.accordion_sub_one strong,.accordion_sub_two strong,.accordion_sub_three strong{
    font-size: 17px;
}



/*  */

.navbar_change{
    z-index: 999;
    padding-top:6px;
    padding-bottom: 6px;
    justify-content: space-between;
    box-shadow: rgba(245, 248, 247, 0.979) 0px 1px 0.5px;
    background-color: rgb(255, 255, 255);
    font-family: Helvetica,Georgia,sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navbar_rest{
    z-index: 999;
    padding-top:6px;
    padding-bottom: 6px;
    justify-content: space-between;
    /* box-shadow: 0 1px 1px 2px rgb(250, 252, 252); */
    background-color: rgb(197, 188, 155);
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Helvetica,Georgia,sans-serif;
}
.navbar_rest .navbar_logo{
    position: relative;
}
.navbar_change .navbar_logo{
    position: relative;
}
.navbar_rest .navbar_logo img,.navbar_change .navbar_logo img{
    border-radius: 15px;
    height: 60px;
    width:60px;
    position: absolute;
    margin:-20px 60px;
}
.navbar_rest .navbar_sub,.navbar_change .navbar_sub{
    display: flex;    
    flex-direction: row;  
    align-items: center;
    gap: 40px;
    margin-right: 60px;
}
.buttonicon{
    margin-bottom: 4px;
}

.navbar_rest .navbar_sub .about_but,.navbar_change .navbar_sub .about_but{
    display: flex;
    flex-direction: row;
}
.navbar_rest .navbar_sub .about_but:active,.navbar_change .navbar_sub .about_but:active{
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 0.7px;
    font-weight:500;
    padding: 8px 18px;
    background-color:#1D3557;
    border:none;
    border-radius:2vw;
    color:white;
}
.navbar_rest .navbar_sub button{
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 0.7px;
    font-weight:500;
    padding: 8px 18px;
    background-color:rgb(197, 188, 155);
    border:none;
    border-radius:2vw;
    color: rgb(11, 13, 32);
}
.navbar_change .navbar_sub button{
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 0.7px;
    font-weight:450;
    padding: 8px 18px;
    background-color:white;
    border:none;
    border-radius:2vw;
    color: rgb(11, 13, 32);
}
.navbar_rest .navbar_sub .styl_exp{
    display: flex;
    flex-direction: row;
    /* background-color: #A8DADC; */
}
.navbar_change .navbar_sub .styl_exp{
    display: flex;
    flex-direction: row;
    background-color: #A8DADC;
}
.navbar_rest .navbar_sub .styl_exp:hover{
        /* background-color: #A8DADC; */
        color:#F1FAEE;
}
.navbar_change .navbar_sub .styl_exp:hover{
        background-color: #A8DADC;
        color:black;
}
.navbar_rest .navbar_sub button:hover,.navbar_change .navbar_sub button:hover{
    background-color: #1D3557;
    color: #F1FAEE;
}

.mediaicon:hover{
    color: #E63946;
}
.mobile-menu-icon{
    display:none;
}
 /* .navbar_sub .about_button_active{
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 0.7px;
    font-weight:450;
    padding: 8px 18px;
    background-color:#1D3557;
    border:none;
    border-radius:2vw;
    color: white;
} 
.navbar_sub .about_button_inactive{
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 0.7px;
    font-weight:450;
    padding: 8px 18px;
    background-color:white;
    border:none;
    border-radius:2vw;
    color: rgb(11, 13, 32);
} */
/*  
.navbar_sub .admin_button_active{
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 0.7px;
    font-weight:450;
    padding: 8px 18px;
    background-color:#1D3557;
    border:none;
    border-radius:2vw;
    color: white;
}
.navbar_sub .customer_button_active{
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 0.7px;
    font-weight:450;
    padding: 8px 18px;
    background-color:#1D3557;
    border:none;
    border-radius:2vw;
    color: white;
}
.navbar_sub .dealer_button_active{
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 0.7px;
    font-weight:450;
    padding: 8px 18px;
    background-color:#1D3557;
    border:none;
    border-radius:2vw;
    color: white;
}
.navbar_sub .dealer_button_inactive{
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 0.7px;
    font-weight:450;
    padding: 8px 18px;
    background-color:white;
    border:none;
    border-radius:2vw;
    color: rgb(11, 13, 32);
}
.navbar_sub .customer_button_inactive{
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 0.7px;
    font-weight:450;
    padding: 8px 18px;
    background-color:white;
    border:none;
    border-radius:2vw;
    color: rgb(11, 13, 32);
}
.navbar_sub .admin_button_inactive{
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 0.7px;
    font-weight:450;
    padding: 8px 18px;
    background-color:white;
    border:none;
    border-radius:2vw;
    color: rgb(11, 13, 32);
}
 */
@media screen and (max-width:780px){
    .navbar_sub{
        display: none;
    }
    .navbar_sub_mobile{
        position:absolute;
        display: block;
        z-index:3;
        left:0;
        top:70px;
        transition: all 0.5s ease-out;
        width:100%;
    }
    .navbar_sub_mobile button{
        color:rgb(36, 0, 0);
        text-align: center;
        width:100%;
        transition: all 0.5s ease;
        cursor:pointer;
        background:rgb(252, 248, 248);
    }
    .navbar_sub_mobile button:hover{
        background-color: #2B2D42;
        color:#EDF2F4;
    }
    .navbar_sub_mobile .dropdown #dropdownMenuLink{
        cursor: pointer;
        font-size: 18px;
        letter-spacing: 2px;
        border:none;
        background:rgb(252, 248, 248);
        color: rgb(11, 13, 32)
    }
    .navbar_sub_mobile .dropdown #dropdownMenuLink:hover{
        background-color: #2B2D42;
        color:#EDF2F4;
    }
    .navbar_sub_mobile .dropdown .dropdown-menu{
        text-align: center;
        border-radius: 10px;
        left:60vw;
    }
    .mobile-menu-icon{
        position:absolute;
        display:flex;
        color:white;
        font-size: 20px;
        background-color:rgb(106, 16, 16);
        border:none;
        outline:none;
        top:15px; 
        right:30px;
    }
}
