.dealer_registration{
    background: rgb(61, 29, 37);
    font-family: montserrat,'sans-serif';
    padding: 3vw 0em;
    position: relative;
    
}
.admin_form h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#admin_form{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
}

.form_field_comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}   
.form_field_comment textarea{
        width:50vw;
        height: 40vh;
        font-size: 30px;
        border-radius: 10px;
}
.form_field_comment label{
        font-size: 20px;
        color: antiquewhite;
        font-family: Arial, Helvetica, sans-serif;
}
.admin_form .form_field{
    display: flex;
    align-items: center;
    justify-content: center;

}
.admin_form .form_field label{
    font-size: 20px;
    color: antiquewhite;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}
.admin_form .form_field input {
    font-size:30px;
    height: 45px;
    border:none;
    outline: none;
    border-radius: 5px;
    background:antiquewhite;
    display: inline-block;
}
.admin_form .form_field #file{
    width: 75%;
    height:40px;
}
.admin_form .form_field_button{
    padding:2em 0em;
}
.admin_form .form_field_button button{
    font-size:20px;
    color:rgb(41, 0, 0);
    border:none;
    padding:0.4em 1.3em;
    height: 40px;
    border-radius:5px;
    cursor: pointer;
}
span{
    color:antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: none;
}
input:invalid[focused="true"] ~ span{
    display:block;
}
textarea:invalid[focused="true"] ~ span { 
    display: block;
}
