.navbar{
    display: flex;
    background: #f90f;
    justify-content: space-between;
    position: relative;
    align-items: center;
    padding:2em 2em;
    font-family: 'Fredoka', sans-serif;
}
.navbar_logo {
    display: flex;
    align-items: center;
    gap: 20px;
    width:fit-content;
}
.navbar_logo .heading_route{
    position: relative;
    font-size: 2.5vw;
    width:105%;
}
.navbar_logo .heading_route::before{
    content: " ";
    position:absolute;
    top:0;
    left:0;
    height:80px;
    bottom:0;
    right: 0;
}
.navbar_logo .heading_route::after{
        content:"";
        position:absolute;
        left:0;
        height:100%;
        border-left:2px solid rgb(15, 1, 1);
        animation: typewriter 6s steps(20) forwards infinite;
}
.navbar_logo .heading_route::before{
    background: #f90f;
    height: 80px;
    animation: typewriter 6s steps(20) forwards infinite;
}

@keyframes typewriter{
    to{
        left:100%;
    }
}
.navbar_logo img{
    border-radius: 15px;
    height: 75px;
    width:75px;
}
.navbar_logo h1{
    color: rgb(36, 0, 0);
}
.navbar_sub{
    display: flex;
    align-items: center;
    gap: 20px;
}
.navbar_sub button{
    cursor: pointer;
    background:radial-gradient(circle, rgba(225,233,227,1) 0%, rgba(215,210,221,1) 45%, rgba(155,129,159,1) 100%, rgba(127,65,139,1) 100%);
    font-size: 18px;
    letter-spacing: 2px;
    padding: 8px 8px;
    border:none;
    border-radius: 7px;
}
.navbar_sub button:active{
    transform: translate(2px,4px);
    transition: all 0.15s ease 0s;
}
.mobile-menu-icon{
    display:none;
}
@media screen and (max-width:780px){
    .navbar_sub{
        display: none;
    }
    .navbar_logo .heading_route{
        font-size:4vw;
        display: inline-flex;
    }
    .navbar_sub_mobile{
        position:absolute;
        display: block;
        z-index:3;
        background-color: #f90f;
        left:0;
        top:130px;
        transition: all 0.5s ease-out;
        width:100%;
    }
    .navbar_sub_mobile button{
        color:rgb(36, 0, 0);
        background:radial-gradient(circle, rgba(225,233,227,1) 0%, rgba(215,210,221,1) 45%, rgba(155,129,159,1) 100%, rgba(127,65,139,1) 100%);
        text-align: center;
        padding:32px;
        width:100%;
        border-radius: 0px;
        transition: all 0.5s ease;
        cursor:pointer;
    }
    .mobile-menu-icon{
        display:block;
        position:absolute;
        color:white;
        font-size: 20px;
        background-color:rgb(106, 16, 16);
        border:none;
        outline:none;
        top:39px;
        right:10px; 
    }
}