.sidebard {
    background-color:rgb(250, 251, 253);
    display: flex;
    position: fixed;
    padding:0.5vw 0 ;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(220, 226, 228);
    width:100vw;
  }

.sidemenud-bars {
    margin-left: 5vw;
    font-size: 20px;
    background: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:1vw;
}
.sided-toggle .sidemenud-bars{
    margin-right:1vw;
}
.sidebard .right-group-de{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:10px;
}
.sided-menu {
    /* rgb(240, 244, 245); */
    background-color:  rgb(240, 244, 245);
    width: 250px;
    height: 100vh;
    display: flex;
    position: fixed;
    top:75px;
    justify-content: center;
    position: fixed;
    left: -100%;
    transition: 0.7s;
  }
  .sidebard .sided-logo img{
    height:60px;
    width:60px;
  }
  .sidebard button{
    font-size:20px;
    padding:0.5vw 1.5vw;
    background-color: #1D3557;
    color:#F1FAEE;
    border-radius: 2vw;
    border:none;
    margin-right:3vw;
    }
.sided-menu.active {
    left: 0;
    transition: 0.7s;
  }
  
.sided-text {
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
    height:0px;
    margin-top: 60px;
  }
.sidebard-pa p{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 16px;
    color:#383a44;
    gap:0.5vw;
}
.sided-text a {
    text-decoration: none;
    font-size: 18px;
    width: 95%;
    display: flex;
    align-items: center;
    padding: 0px 16px;
    border-radius: 20px;
  }

.sidebard-pa p:hover{
    color:#00A896;
}
.sided-menu-items {
    width: 100%;
    padding: 0;
  }
  
.sided-toggle {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .right-group-de p{
    margin-top: 15px;
  }
  .event_dealer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.dealer_event_page{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;    
    padding:10px;
    background-color: white;
}
.form_event_field_dealer span { 
    color:black;
    display: hidden;
}
.dealer_event_form .form_event_field_dealer input:invalid[focused=true]{
    border:1px solid #E63946;
}
.dealer_event_form .form_event_field_dealer input{
    width:100%;
    border-radius: 7px;
    border:1px solid black;
    height: 2.6vw;
    padding:0.2vw;
}
.dealer_event_form .form_event_field_dealer input:invalid[focused=true] ~ span{
    display: block;
    width: 100%;
}
.dealer_event_form h1{
    text-align: center;
    font-size: 2.9vw;
    font-weight: 350;
    margin:3vw 0vw;
}
.form_event_field_dealer{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    gap:10px;
}
.form_field_dealer label{
    font-size:20px;
}
.form_event_field_dealer button{
    width: 25%;
    background-color: #1D3557;
    color: #F1FAEE;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 350;
    font-size: 1.8vw;
    padding:0.2vw;
    margin:1vw;
    border-radius: 20px;
    border:none;
}
.form_event_field_dealer button:hover{
    background-color:rgb(39, 66, 104);
    color: rgb(234, 255, 226);
}

.dealer_event_form{
    margin:auto 200px;
    box-shadow: 0 0 0 1.5px rgb(171, 180, 178);
    background-color:rgb(253, 254, 255);
    border-radius: 20px;
}
  .event_dealer{
    padding-top:70px;
  }

  .body_content_sub_push .card_body_sub{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .body_content_sub_extend .card_body_sub_extend{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:20px;
  }
  .body_content_sub_push .card_body_sub_push{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:20px;
  }
  
  .card_body_sub_push .card_title_push{
    font-size:40px;
    color:rgb(30, 3, 43);
  }
  .card_body .card_text_push{
    font-size: 18px;
    font-weight:500;
    text-align: center;
    color:rgb(30, 3, 43);
  }
  .card_body_sub_extend .card_title_extend{
    font-size:40px;
    color:rgb(30, 3, 43);
  }
  .card_body .card_text_extend{
    font-size: 18px;
    font-weight:500;  
    text-align: center;
    color:rgb(30, 3, 43);
  }
  .card_c{
    box-shadow: rgba(230, 225, 219, 0.979) 0px 2px 10px;
    background-color: #FDFFFC;
    transition: 0.25s ease-in;
  }
  .body_b{
    padding-top:80px;
  }