.sidebara{
    background-color:rgb(250, 251, 253);
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(220, 226, 228);
  }

.sidemenua-bars {
    margin-left: 55px;
    font-size: 15px;
    background: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:12px;
  }

.sidea-toggle .sidemenua-bars{
    margin-right:12px;
}

.sidea-menu {
    background-color:  rgb(240, 244, 245);
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top:75px;
    left: -100%;
    transition: 400ms;
  }
  
  .sidebara .sidea-logo img{
    height:60px;
    width:60px;
  }
  .sidebara .right-group-ad{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap:10px;
  }
  
  .sidebara .right-group-ad button{
    width: 30%;
    background-color: #1D3557;
    color: #F1FAEE;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    letter-spacing: 0.3px;
    font-size: 17px;
    padding:5px 15px;
    margin:12px;
    border-radius: 20px;
    border:none;
    }
    
.sidea-menu.active {
    left: 0;
    transition: 350ms;
  }
  
.sidea-text {
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
    height:0px;
    margin-top: 60px;
  }
.sidebara-pa p{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 16px;
    color:#383a44;
    gap:10px;
    font-size: 16px;
}
.sidea-text a {
    text-decoration: none;
    font-size: 14.5px;
    width: 95%;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    border-radius: 20px;
  }

.sidebara-pa p:hover{
    color:#00A896;
}
.sidea-menu-items {
    width: 100%;
    padding: 0;
  }
  
.sidea-toggle{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}

.table_t{
      padding-top:50px;
}
.table_container_push{
    transition:350ms;
    padding-left:280px;
    padding-top:30px;
    padding-right:30px;
}
.table_container_extend{
    transition: 400ms;
    width:100vw;
    padding-top:30px;
    padding-left:30px;
    padding-right: 30px;
}
.table_container_accept_title{
    text-align: center;
    font-size: 16px;
    padding:5px 0px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.table_container_accept_body.table{
    border: 1px solid rgb(42, 41, 53);
    background-color: #FDFFFC;
    border-collapse: collapse;
    box-shadow: rgba(230, 225, 219, 0.979) 0px 2px 10px;
    justify-content: center;
    align-items: center;
}
tr th ,tr td{
    font-size:14px;
    font-weight:700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.table_container_accept_body.table tr{
    align-items: center;
}
.table_t .table_container_req_title{
    font-size: 16px;
    font-weight: 500;
}
tr th,tr td{
    text-align:center;
    margin: 5px;
    width: fit-content;
}
.button_accept{
    background-color: #00A896;
    color:rgb(8, 0, 29);
    padding: 4px 17px 4px 17px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.button_cancel{
    background-color: #ffd43b;
    color:#23013f;
    padding: 4px 17px 4px 17px;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.table_container_title{
    text-align: center;
    font-size: 15px;
    padding:5px 0px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.button_cancel:hover{
    background-color:#ffd43b;
    color: rgb(14, 5, 31);
}
.button_accept:hover{
    background-color:  rgb(0, 66, 61);
}
.right-group-ad p{
    margin-top: 15px;
    font-size: 14px;
    font-weight: 700;
}
tr .view_detail{
    border: none;
    cursor: pointer;
    text-align: center;
    color:rgb(58, 47, 28);
    font-weight: 600;
    border-radius: 20px;
}   
.sidea-text .showCountAdmin{
    background-color: rgb(80, 74, 85);
    color:white;
    font-size: 10px;
    font-weight: 800;
    padding:3px 5px;
    margin-top: 20px;
    margin-left:0px;
}
.sidea-text .showCountAdmin:hover{
  background-color: rgb(80, 74, 85);
  color:white;
}
.sidea-text .hideCountAdmin{
    display: none;
}
